.image-51 {
  text-decoration: none;
  position: absolute;
  height: 14.24%;
  width: 5.5%;
  top: 75.76%;
  right: 82.9%;
  bottom: 10%;
  left: 11.6%;
  background-image: url(/public/image-5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
