.image-5 {
  text-decoration: none;
  position: absolute;
  height: 18.3%;
  width: 5.5%;
  top: 69.9%;
  right: 82.9%;
  bottom: 11.81%;
  left: 11.6%;
  background-image: url(/public/image-5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
