.songItemImageContainer {
  height: 126px;
  width: 221.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.frameContainer,
.songItemImageContainerParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.songItemImageContainerParent {
  align-self: stretch;
  flex-wrap: wrap;
  padding: var(--padding-12xs) var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-7xl);
}
.frameContainer {
  width: 514.5px;
  min-width: 514.5px;
}
.commemorationSuggestionImageParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
}
.frameParent,
.frameWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-lightblue-200);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-2xl) var(--padding-6xl) var(--padding-12xs)
    var(--padding-7xl);
  box-sizing: border-box;
  text-align: right;
  font-size: var(--font-size-13xl);
  color: var(--black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1225px) {
  .frameWrapper {
    gap: var(--gap-79xl);
  }
}
@media screen and (max-width: 1050px) {
  .frameContainer {
    flex: 1;
    min-width: 100%;
  }
  .commemorationSuggestionImageParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frameContainer {
    gap: var(--gap-131xl);
  }
  .frameWrapper {
    gap: var(--gap-30xl);
  }
}
@media screen and (max-width: 450px) {
  .frameContainer {
    gap: var(--gap-56xl);
  }
  .frameWrapper {
    gap: var(--gap-5xl);
  }
}
