.emojioneMonotonewiltedFloweIcon {
  height: 80.1px;
  width: 79.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.emojioneMonotonewiltedFloweWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a {
  text-decoration: none;
  height: 58px;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
}
.remembranceTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 0;
}
.div {
  position: relative;
  white-space: nowrap;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
}
.remembranceTitleParent {
  flex-direction: column;
  align-items: flex-start;
}
.logoContainer,
.logoContainerWrapper,
.remembranceTitleParent {
  display: flex;
  justify-content: flex-start;
}
.logoContainer {
  margin: 0 !important;
  position: absolute;
  top: 14px;
  left: 469px;
  flex-direction: row;
  align-items: flex-end;
}
.logoContainerWrapper {
  align-self: stretch;
  height: 117px;
  background-color: var(--color-midnightblue-100);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-sm) 0 var(--padding-3xl-9);
  box-sizing: border-box;
  position: relative;
  text-align: right;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
