.laddersMacMillerWrapper {
  width: 742px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.frameParent,
.laddersMacMillerWrapper,
.wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-5xl);
}
.frameParent {
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 520px;
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-13xl);
  color: var(--black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .frameParent {
    min-width: 100%;
  }
}
