.h1 {
  margin: 0;
  align-self: stretch;
  height: 55px;
  position: relative;
  font-size: var(--font-size-13xl);
  text-decoration: underline;
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--black);
  text-align: right;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (max-width: 750px) {
  .h1 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .h1 {
    font-size: var(--font-size-lgi);
  }
}
