.image-41 {
  text-decoration: none;
  position: absolute;
  height: 15.42%;
  width: 6.5%;
  top: 76.58%;
  right: 90.3%;
  bottom: 8%;
  left: 3.2%;
  background-image: url(/public/image-4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
