.image-4 {
  text-decoration: none;
  position: absolute;
  height: 19.82%;
  width: 6.5%;
  top: 70.94%;
  right: 90.3%;
  bottom: 9.24%;
  left: 3.2%;
  background-image: url(/public/image-4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
