.favoriteSongItemImageConta {
  height: 125px;
  width: 232px;
  position: relative;
  border-radius: var(--br-3xs);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
